.DS_Store
Thumbs.db
*.log

# File Konfigurasi Lokal & Sensitif (Tambahan Baru)
#--------------------------------------------------
application/config/database.php
application/config/config.php
index.php

# CodeIgniter 3 Core Directories
#--------------------------------------------------
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

# Dependency & Testing Files
#--------------------------------------------------
composer.lock
/vendor/
tests/mocks/database/ci_test.sqlite
/tests/tests/
/tests/results/

# User Guide Build Files
#--------------------------------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE & Text Editor Files
#--------------------------------------------------
/nbproject/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project